html,
body {
    height: 100%;
}

body {
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.titulo {
    text-align: center;
    margin-top: 40px;
    color: #f8d5c7;
    font-size: 60px;

.descricao {
    text-align: center;
    color: #6c757d;
}

}

